@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100;
    height: 100;
    background-image: url(./fondoPerro2.jpg);
    background-size: auto;
}
header, footer{  
    width: 100%;  
    height: 140px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.links{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
li{
    list-style: none;
}


#anuncios-container{
    padding: 20px;
    margin: 20px;
    width: 90%;
    height: 74vh;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    overflow: overlay;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
    background: none;
}

/* --------- Cards ---------------------------------------------------------------------------- */
.card {
    margin: 3px;
    opacity: 0.55;
    display: inline-block;
    width: 75%;
    border-style: none;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}
.card h3{
    font-size: xx-large;
    text-align: center;
}
.card p{
    font-size: x-large;
    padding-left: 50px;
}
#card-Especificaciones{
    align-items: center;
    display: flex;
    justify-content: center;
}
#card-Especificaciones > img{
    width: 40px;
    height: 40px;
    padding: 2px 2px 2px 2px;
    display: inline;
}
#card-Especificaciones > p{
    padding: 10px;
    font-size: x-large;
}
#card-btn{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.card button{
    width: 80%;
    height: 40px;
    background-color: lightsteelblue;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
}
@media screen and (max-width: 900px){
    #card-Especificaciones{
        flex-direction: column;
    }
    header, footer{
        height: auto;
        background-color: rgba(70, 67, 67, 0.61);
    }
    header nav, footer nav{
        display: flex;
        flex-direction: column;
    }
    #anuncios-container{
        height: 67.7vh;
    }
}
@media screen and (min-width: 1500px){
    body{
        background-size: cover;
    }
}
header{
    top: 0;
    left: 0;
    position: sticky;
}
#logo{
    width: 100px;
    height: 100px;
}
#nav-header, #nav-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
#nav-footer p{
    font-size: large;
    color: white;
}